body {
  margin-top: 50px;
  background-color: rgb(141, 141, 214);
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
}
h1 {
  text-align: center;
}

.icon {
  justify-content: center;
  align-items: center;
  width: 10%;
  cursor: pointer;
  
}
.form-container {
  margin-top: 100px;
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  grid-gap: 100px;}
input {
  margin-top: 10px;
  width: 15%;
  height: 40px;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
  background-color: rgb(178, 178, 237);
  font-size: large;
}
label {
  color: #030303;
  font-size: 15px;
  font-weight: 400;
}
.time {
  font-weight: 800;
  font-size: 44px;
  margin-bottom: 20px;
}
.reset-btn {
  background-color: rgb(183, 224, 88);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.pause-btn {
  background-color: rgb(183, 224, 88);
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
